* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    max-width: 1440px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}
p {
    color: hsl(229, 6%, 66%)
}

#header {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
}
#header .light-heading {
    font-weight: 200;
}
#header .bold-heading {
    margin-top: -4%;
    margin-bottom: 0;
}
#header .header-item {
    grid-column: 2/3;
    text-align: center;
}

#card-container {
    display: grid;
    grid-template-columns: 31.25% 31.25% 31.25%;
    height: 66%;
    justify-content: space-around;
    align-items: center;
}
.card {
    border-radius: 2%;
    height: 47%;
    box-shadow: 0 0.7em 1em 0.1em rgba(0, 0, 0, 0.1), 0 0.7em 1em rgba(0, 0, 0, 0.05);
    padding: 10% 10% 0.08% 10%;
    position: relative;
}
.card img {
    width: 17%;
    height: auto;
    position: absolute;
    bottom: 8%;
    right: 8%;
}
.card h2 {
    margin: 0;
}

.middle-cards {
    height: 100%;
}

.supervisor {
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}
.calculator {
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}
.team-builder {
    border-top: 0.25rem solid hsl(0, 78%, 62%);
    margin-bottom: 8.5%;
}
.karma {
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}